:root {
  --logo-size: 22;
  --logo-width: calc((var(--logo-size) / 4) * 1em);
}

.logo {
  font-size: 1rem;
  width: var(--logo-width);
  transform: scale(1) rotate(0deg);
  transition: transform var(--layout-transition-extra-fast);
}

.logo:hover {
  transform: scale(1.1);
}

.logo:active {
  transform: scale(1.2);
}

.logo {
  transform-origin: center;
}

.logo {
  animation-name: shrink;
  animation-duration: 0.4s;
  animation-timing-function: var(--layout-timing-bounce);
  animation-iteration-count: 1;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
